<h1>Our Bands</h1>

<% @bands.each do |band| %>
  <li>
    <a href="<%= band_url(band) %>"><%= band.name %></a>
    <%= link_to "Delete", band, method: :delete %>
  </li>
<% end %>

<%= link_to "Add a band", new_band_url %>